@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
}

@variant dark (.dark &);

body {
  @apply antialiased text-gray-900 dark:text-gray-200 bg-white dark:bg-dark-bg;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
